<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hours done</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Include Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
	<div class="col-md-4">
		<h1>Hours list</h1>
	</div>
       <table class="table table-striped">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Date</th>
                    <th>Hours</th>
                    <th>Hourly wage</th>
                </tr>
            </thead>
</table>
</div>
</body>