<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Tuntilista</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Include Bootstrap CSS -->
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div class="col-md-4">
			<h1>Tuntilista</h1>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>User</th>
					<th>Hours</th>
					<th>Hourly wage</th>
					<th>Salary</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="hours : ${hours}">
					<td th:text="${hours.user.username}"></td>
					<td th:text="${hours.hours}"></td>
					<td th:text="${hours.hourlywage + ' €'}"></td>
					<td th:text="${(hours.hours * hours.hourlywage) + ' €'}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>